@import '../../assets/scss/_mixins.scss';

.specials {
  &__container {
    padding-top: 70px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 26px
  }

  &__heading {
    @include h2;
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__button {
    @include arrow-round;

    &__disabled {
      border-color: var(--grey);

      &::after {
        border-color: var(--grey)
      }
    }

    &--prev {
      @include arrow-round-left;
      margin-right: 13px;
    }

    &--next {
      @include arrow-round-right;
    }
  }
}
