@mixin btn-primary {
  padding: 22px 46px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--primary);
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--primary_light);
    border-color: var(--primary_light);
  }

  &:focus {
    outline: none;
    background-color: var(--primary_light);
    border-color: var(--primary_shade);
  }

  &:active {
    background-color: var(--primary_shade);
    border-color: var(--primary_shade);
  }

  &:disabled {
    background-color: var(--md_grey);
    border-color: var(--md_grey);
    color: var(--grey);
  }
}
