.top-categories {
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "a a a b b b"
    "c c d d e e";
    column-gap: 32px;
    row-gap: 32px;
  }

  &__item:first-child {
    grid-area: a;
  }

  &__item:nth-child(2) {
    grid-area: b;
  }

  &__item:nth-child(3) {
    grid-area: c;
  }

  &__item:nth-child(4) {
    grid-area: d;
  }

  &__item:nth-child(5) {
    grid-area: e;
  }
}


