.banner {
  &__container {
    position: relative;
    padding-top: 82px;
    padding-bottom: 80px;
    box-sizing: border-box;

    @include mobile {
      position: relative;
      padding-top: 30px;
    }
  }

  &__title {
    margin-bottom: 49px;
    font-size: 48px;
    line-height: 66px;
    font-weight: 700;
    color: var(--grey);

    @include tablet {
      margin-bottom: 47px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 27px;
    }

    &--white {
      color: var(--white);
    }
  }
  &__title-block {
    display: block;
  }

  &__button {
    @include btn-primary;
    padding: 20px 48px;

    @include mobile {
      position: absolute;
      top: calc(100% + 32px);
      width: calc(100% - 24px);
    }
  }
}

.banner-swiper {
  max-height: 400px;

  @include mobile {
    padding-bottom: 91px;
  }

  //&__slide:first-child {
  //  background: url('../img/main/1-hero-slider.webp') center center no-repeat transparent;
  //  background-size: cover;
  //
  //  @include tablet {
  //    background: url("../img/main/1-hero-1024.webp") center center no-repeat transparent;
  //  }
  //
  //  @include small-tablet {
  //    background: url("../img/main/1-hero-768.webp") center center no-repeat transparent;
  //  }
  //}
  //
  //&__slide:nth-child(2) {
  //  background: url('../img/main/2-hero-slider.webp') center center no-repeat transparent;
  //  background-size: cover;
  //
  //  @include tablet {
  //    background: url("../img/main/2-hero-1024.webp") center center no-repeat transparent;
  //  }
  //
  //  @include small-tablet {
  //    background: url("../img/main/2-hero-768.webp") center center no-repeat transparent;
  //  }
  //}
  //
  //&__slide:last-child {
  //  background: url('../img/main/3-hero-slider.webp') center center no-repeat transparent;
  //  background-size: cover;
  //
  //  @include tablet {
  //    background: url("../img/main/3-hero-1024.webp") center center no-repeat transparent;
  //  }
  //
  //  @include small-tablet {
  //    background: url("../img/main/3-hero-768.webp") center center no-repeat transparent;
  //  }
  //}

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px !important;

    @include tablet {
      bottom: 23px !important;
    }

    @include mobile {
      bottom: 102px !important;
    }
  }

  &__bullet {
    display: block;
    width: 14px;
    height: 14px;
    background-color: var(--black);
    opacity: .3;
    border-radius: 100%;
    cursor: pointer;

    &--active {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 16px;

      @include mobile {
        margin-right: 8px;
      }
    }

    @include mobile {
      width: 6px;
      height: 6px;
    }
  }
}
