.header {
  &__top {
    background-color: var(--grey_light);

    @include big-desktop {
      background-color: transparent;
    }
  }

  &__logo {
    &:focus {
      outline: 2px solid var(--primary);
    }
  }
}

.header-top {
  &__container {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 13px;

    @include big-desktop {
      padding-top: 18.5px;
      padding-bottom: 20px;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--tablet {
    display: none;
    background-color: var(--grey_light);

    @include big-desktop {
      display: block;
    }

    & .header-top__container {
      padding-top: 10px;
      padding-bottom: 11.5px;
      padding-right: 38px;

      @include small-tablet {
        padding-right: 72px;
      }

      @include extra-mobile {
        display: none;
      }
    }

    & .top-nav {
      display: flex;
      margin-left: 0;
      width: 100%;
    }

    & .personal {
      display: block;

      @include extra-tablet {
        display: none;
      }
    }
  }

  &--mobile {
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 11px;
    background-color: var(--grey_light);

    @include mobile {
      display: flex;
    }
  }
}

.header-middle {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 29px;
    padding-right: 17px;

    @include big-desktop {
      padding-top: 30.5px;
      padding-bottom: 31.5px;
      padding-right: 37px;
    }

    @include extra-tablet {
      justify-content: space-between;
    }

    @include small-tablet {
      padding-right: 72px;
    }

    @include mobile {
      padding-right: 12px;
    }

    & .logo {
      display: none;
    }
  }
}

.header-bottom {
  &__container {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-right: 17px;

    @include tablet {
      padding-bottom: 32px;
      padding-right: 36px;
    }

    @include small-tablet {
      padding-right: 72px;
    }

    @include mobile {
      flex-direction: column;
      padding-right: 12px;
    }
  }
}

.header-bottom__form {
  &__contianer {
    padding-bottom: 32px;
  }
}

.region {
  position: relative;
  margin-right: 38px;

  @include mobile {
    margin: 0 0 22px 0;
  }

  &__label,
  &__current {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    color: var(--black);
  }

  &__current {
    position: relative;
    padding-right: 12px;
    color: var(--primary);
    transition: color .3s ease-in-out;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 112%;
      height: 102%;
      left: -1%;
      top: -1%;
      background-color: transparent;
      z-index: 2;
      transition: background-color .3s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -3.5px;
      transform: translateY(-50%) rotate(45deg);
      width: 8px;
      height: 8px;
      border-bottom: 1px solid var(--primary);
      border-right: 1px solid var(--primary);
      transition: border-color .3s ease-in-out, transform .3s ease-in-out;
      z-index: 3;
    }

    &:hover {
      color: var(--primary_light);

      &::after {
        border-color: var(--primary_light);
      }
    }

    &:focus {
      outline: none;
      color: var(--primary_shade);

      &::before {
        background-color: var(--pink_violet);
      }

      &::after {
        border-color: var(--primary_shade);
      }
    }

    &:active {
      color: var(--primary_shade);

      &::before {
        background-color: transparent;
      }

      &::after {
        border-color: var(--primary_shade);
      }
    }

    &-text {
      position: relative;
      z-index: 3;
    }

    &--open {
      &::after {
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }
}

.region-list {
  position: absolute;
  height: 0;
  top: 100%;
  right: -5px;
  padding: 0;
  border: 0 solid var(--grey_light);
  background-color: var(--white);
  z-index: 2;
  overflow: hidden;
  transition: padding .3s ease-in-out, border-width .3s ease-in-out, height .3s ease-in-out;

  &--open {
    height: fit-content;
    padding: 16px;
    border-width: 2px;
  }

  &__item {
    position: relative;
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 400;
    color: var(--black);
    cursor: pointer;
    transition: color .3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: -1%;
      left: -1%;
      width: 102%;
      height: 102%;
      background-color: transparent;
      transition: background-color .3s ease-in-out;
    }

    &:hover {
      color: var(--primary);
    }

    &:not(:last-child) {
      margin-bottom: 11px;
    }

    &:focus {
      outline: none;

      &::after {
        background-color: var(--pink_violet);
      }
    }

    &:active {
      color: var(--primary_shade);

      &::after {
        background-color: transparent;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;
  }
}

.phone {
  display: flex;
  align-items: center;

  @include big-desktop {
    margin-left: auto;
  }

  @include mobile {
    margin: 0;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 0.75px;
    fill: var(--secondary);
    transition: fill .3s ease-in-out;
    z-index: 2;
  }

  &__link {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--secondary);
    transition: color .3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      width: 120%;
      height: 130%;
      left: -19%;
      top: -15%;
      background-color: transparent;
      transition: background-color .3s ease-in-out;
      z-index: 1;
    }

    &:focus {
      outline: none;

      &::after {
        background-color: var(--bone);
      }
    }
  }

  &__number {
    position: relative;
    z-index: 2;
  }

  &:hover &__icon {
    fill: var(--secondary_light);
  }

  &:hover &__link {
    color: var(--secondary_light);

    &::after {
      background-color: transparent;
    }
  }

  &:focus {
    outline: none;

    &::after {
      background-color: var(--bone);
    }
  }

  &:active {
    &::after {
      background-color: transparent;
    }
  }

  &:active &__icon {
    fill: var(--secondary_shade);
  }

  &:active &__link {
    color: var(--secondary_shade);
  }
}

.top-nav {
  margin-left: auto;

  @include big-desktop {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;

    @include extra-tablet {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__item:not(:last-child) {
    margin-right: 65px;

    @include tablet {
      margin-right: 64px;
    }

    @include extra-tablet {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--grey);
    transition: color .3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      width: 108%;
      height: 104%;
      left: -4%;
      top: -2%;
      background-color: transparent;
      transition: background-color .3s ease-in-out;
      z-index: 1;
    }

    &:hover {
      color: var(--primary);
    }

    &:focus {
      outline: none;
      color: var(--primary_shade);

      &::after {
        background-color: var(--pink_violet);
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;
  }
}

.middle-nav {
  margin-left: auto;

  @include extra-tablet {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-101%);
    width: 100%;
    max-height: 300px;
    padding: 92px 36px 60px;
    z-index: 5;
    transition: transform .3s ease-in-out;
    //background: url("../img/sprite.svg#elephant") bottom 60px right 36px no-repeat var(--white);
    //background-size: 161px 112px;
  }

  &__list {
    display: flex;
    align-items: center;

    @include extra-tablet {
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      max-height: 148px;
      height: 100%;
    }
  }

  &__item:not(:last-child) {
    margin-right: 92px;

    @include big-desktop {
      margin-right: 55px;
    }

    @include tablet {
      margin-right: 42px;
    }

    @include extra-tablet {
      margin-left: 0;
    }
  }

  &__item:not(:nth-child(3n)) {
    margin-bottom: 41px;
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 21.79px;
    font-weight: 400;
    color: var(--black);
    transition: color .3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: -4%;
      left: -4%;
      width: 108%;
      height: 108%;
      background-color: transparent;
      transition: background-color .3s ease-in-out;
      z-index: 1;
    }

    &:hover {
      color: var(--primary);
    }

    &:focus {
      outline: none;

      &::after {
        background-color: var(--pink_violet);
      }
    }

    &:active {
      color: var(--primary_shade);

      &::after {
        background-color: transparent;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;
  }
}

.search-form {
  position: relative;
  max-width: 761px;
  width: 100%;

  @include big-desktop {
    max-width: 100%;
  }

  @include mobile {
    margin-bottom: 16px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    width: 18px;
    height: 16px;
    fill: var(--grey);
  }

  &__input {
    @include input-primary;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 59px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @include mobile {
      border-radius: 10px;
    }
  }

  &__button {
    @include arrow-round;
    @include arrow-round-right;
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
  }
}

.categories {
  max-width: 300px;
  width: 100%;
  position: relative;

  @include small-tablet {
    max-width: 189px;
  }

  @include mobile {
    max-width: 100%;
  }

  &__selected {
    max-width: 300px;
    width: 100%;
    position: relative;
    padding: 18px 31px;
    border: 2px solid var(--grey_light);
    border-radius: 0 10px 10px 0;
    background-color: var(--white);
    cursor: pointer;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: var(--primary);
    transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    z-index: 3;

    @include small-tablet {
      max-width: 189px;
    }

    @include mobile {
      border-radius: 10px;
      max-width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 32px;
      transform: translateY(-50%) rotate(45deg);
      width: 8px;
      height: 8px;
      border-bottom: 1px solid var(--primary);
      border-right: 1px solid var(--primary);
      transition: transform .3s ease-in-out;
      z-index: 2;
    }

    &--rotate {
      border-color: var(--primary);

      &::after {
        transform: translateY(-25%) rotate(225deg);
      }
    }

    &:hover {
      border-color: var(--primary);
    }

    &:focus {
      outline: none;
      background-color: var(--pink_violet);
      border-color: var(--primary);
    }

    &:active {
      background-color: var(--white);
      border-color: var(--primary_shade);
    }
  }

  &__list {
    column-count: 2;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    @include small-tablet {
      column-count: 1;
    }
  }
}

.categories-list {
  height: 0;
  overflow: hidden;
  padding: 0;
  border: 0 solid #f6f6f6;
  border-top: none;
  background-color: var(--white);
  z-index: 2;
  transition: padding .3s ease-in-out, height .3s ease-in-out, border-width .3s ease-in-out;

  &--open {
    height: fit-content;
    padding: 52px 30px 22px;
    border-width: 2px;
    overflow: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: var(--black);
    transition: color .3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
      background-color: transparent;
      transition: background-color .3s ease-in-out;
      z-index: -1;
    }

    &:hover {
      color: var(--primary);
    }

    &:focus {
      outline: none;

      &::after {
        background-color: var(--pink_violet);
      }
    }

    &:active {
      color: var(--primary_shade);
    }
  }
}

.personal {
  margin-left: auto;

  @include big-desktop {
    display: none;
  }
}

.personal-list {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    position: relative;
    display: block;

    &::after {
      content: '';
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
      background-color: transparent;
      transition: background-color .3s ease-in-out;
      z-index: -1;
    }
  }

  &__link:hover &__icon {
    fill: var(--primary_light);
  }

  &__link:focus {
    outline: none;
  }

  &__link:focus::after {
    background-color: var(--primary_light);
  }

  &__link:focus &__icon {
    fill: var(--white);
  }

  &__link:active &__icon {
    fill: var(--primary_shade);
  }


  &__icon {
    display: block;
    width: 26px;
    height: 28px;
    fill: var(--primary);
    transition: fill .3s ease-in-out;
  }
}

.basket-link {
  position: relative;

  &__count {
    position: absolute;
    top: 52%;
    left: -13px;
    transform: translateY(-70%);
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--secondary);
    border-radius: 100%;
  }
}

.burger {
  display: none;

  @include extra-tablet {
    display: block;
    @include burger;
    z-index: 6;
  }
}

.header-bottom__personal--768 {
  display: none;

  @include extra-tablet {
    display: block;
    margin-left: 0;
  }
}

.menu--active {
  transform: none;
}
