.rating {
  &__container {
    padding-top: 35px;
    padding-bottom: 71px;
  }

  &__heading {
    @include h2;
    margin-bottom: 26px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 32px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      gap: 16px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    @include btn-primary;
    padding: 20px 36px;
  }
}

.rating-card {
  max-width: 296px;
  width: 100%;
  @include card;

  &:nth-child(n + 9) {
    display: none;
  }

  @include tablet {
    &:nth-child(n + 7) {
      display: none;
    }
  }

  @include mobile {
    max-width: 100%;
  }

  @include small-mobile {
    max-width: 140px;
  }
}

.rating__content .rating-card__visible {
  display: flex;
}
