.useful {
  &__container {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  &__heading {
    @include h2;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__prev {
    margin-right: 13px;
    @include arrow-round;
    @include arrow-round-left
  }

  &__next {
    @include arrow-round;
    @include arrow-round-right;
  }
}


.useful-card {
  border-radius: 10px;
  background-color: var(--grey_light);

  & .image {
    display: block;
  }

  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 31px 27px 28px 30px;
    height: 250px;

    @include tablet {
      height: 254px;
      padding: 30px 38px 30px 30px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 32.68px;
    font-weight: 400;
    color: var(--black);

    @include tablet {
      font-size: 16px;
      line-height: 21.79px;
    }
  }

  &__link {
    margin-top: auto;
    @include btn-secondary;
    padding: 19px 33.5px;

    @include tablet {
      padding: 18px 33.5px;
    }
  }

}
