@import "../../assets/scss/_mixins.scss";

.special-card {
  @include special-card;
}

.specials__slider .swiper-slide {
  flex-basis: 25%;
  max-width: 296px;

  &:nth-child(3n+2) {
    flex-basis: 50%;
    max-width: 624px;
  }
}
